<a href="https://colab.research.google.com/github/omarfathy18/DEPI_Exercises-Assignments/blob/main/Pandas_Exercises_BankList.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [1]:
import pandas as pd

In [2]:
banks = pd.read_csv("banklist.csv")

** Show the head of the dataframe **

In [3]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [4]:
banks.columns

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [5]:
number_of_unique_states = banks['ST'].nunique()
print("Number of unique states:", number_of_unique_states)

Number of unique states: 44

** Get a list or array of all the states in the data set. **

In [6]:
states_list = banks['ST'].unique()
print("List of states:", states_list)

List of states: ['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

** What are the top 5 states with the most failed banks? **

In [7]:
top_5_states = banks['ST'].value_counts().head(5)
print("Top 5 states with the most failed banks:")
print(top_5_states)

Top 5 states with the most failed banks:
ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [8]:
top_5_institutions = banks['Acquiring Institution'].value_counts().head(5)
print("Top 5 acquiring institutions:")
print(top_5_institutions)

Top 5 acquiring institutions:
Acquiring Institution
No Acquirer                            31
State Bank and Trust Company           12
First-Citizens Bank & Trust Company    11
Ameris Bank                            10
U.S. Bank N.A.                          9
Name: count, dtype: int64

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [9]:
total_acquired_by_texas = banks[banks['Acquiring Institution'] == 'State Bank of Texas'].shape[0]
print("Total banks acquired by State Bank of Texas:", total_acquired_by_texas)

acquired_in_texas = banks[(banks['Acquiring Institution'] == 'State Bank of Texas') & (banks['ST'] == 'TX')].shape[0]
print("Banks acquired in Texas:", acquired_in_texas)

Total banks acquired by State Bank of Texas: 3
Banks acquired in Texas: 1

** What is the most common city in California for a bank to fail in?**

In [10]:
california_banks = banks[banks['ST'] == 'CA']
most_common_city_ca = california_banks['City'].value_counts().idxmax()
print("Most common city in California for a bank to fail:", most_common_city_ca)

Most common city in California for a bank to fail: Los Angeles

** How many failed banks don't have the word "Bank" in their name? **

In [11]:
banks_without_bank = banks[~banks['Bank Name'].str.contains('Bank', case=False, na=False)].shape[0]
print("Number of failed banks without 'Bank' in their name:", banks_without_bank)

Number of failed banks without 'Bank' in their name: 10

** How many bank names start with the letter 's' ? **

In [12]:
banks_start_with_s = banks['Bank Name'].str.startswith('S', na=False)
count_start_with_s = banks_start_with_s.sum()
print("Number of bank names starting with 'S':", count_start_with_s)

Number of bank names starting with 'S': 53

** How many CERT values are above 20000 ? **

In [13]:
cert_above_20000 = banks[banks['CERT'] > 20000].shape[0]
print("Number of CERT values above 20000:", cert_above_20000)

Number of CERT values above 20000: 417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [14]:
two_word_banks = banks['Bank Name'].str.split().apply(len) == 2
count_two_word_banks = two_word_banks.sum()
print("Number of bank names with exactly two words:", count_two_word_banks)

Number of bank names with exactly two words: 114

How many banks closed in the year 2008?

In [15]:
banks_closed_2008 = banks[banks['Closing Date'].str.contains('-08', na=False)].shape[0]
print("Number of banks closed in 2008:", banks_closed_2008)

Number of banks closed in 2008: 25

# GREAT JOB!